<div>
    <form #empform="ngForm" (ngSubmit)="abc(empform)">
    <table border="1" cellspacing="1" width="40%">
        <tr>
            <td style="width :10%">ENTER ROLL NO</td>
            <td style="width :4%"><input type="text"></td>
        </tr>
        <tr>
            <td style="width :10%">ENTER EMAIL ID</td>
            <td style="width :4%"><input type="text"></td>
        </tr>
        <tr>
            <td style="width :10%">NAME</td>
            <td style="width :4%"><input type="text"></td>
        </tr>
        <tr>
            <td style="width :10%">PASSWORD</td>
            <td style="width :4%"><input type="text"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">add student</button></td>
        </tr>
    </table>
    </form>
</div>